body {
	font-family: "Darker Grotesque", sans-serif;
	font-size: 12px;
}

.center {
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
}

#mainwrapper {
	overflow: auto;
	font-family: "Darker Grotesque", sans-serif;
	font-style: normal;
	font-weight: 200;
	width: 920px;
	background: aqua;
}

#mainwrapper header {
	overflow: auto;
	font-family: "Darker Grotesque", sans-serif;
	font-style: normal;
	font-weight: 200;
}

#bannerImage {
	background-color: none;
	background-size: 1000px 150px;
}

#contentB {
	width: 1800px;
	height: 300px;
}

h1 {
  float: left;
  color: black;
  text-align: center;
  padding: 20px 2px 2px 30px;
  text-decoration: none;
  font-size: 40px;
}

h2 {
  float: left;
  color: black;
  text-align: center;
  padding: 50px 16px;
  text-decoration: none;
  font-size: 20px;
}

h3 {color: green;
	font-weight: bold;
	
}
h6 {
	font-size: 18px;
	font-weight: 100
}
p {
	font-size: 10px;
	float: right;
}

.topnav {
  background-color: #FEFEFE;
  overflow: hidden;
	margin-left: 40%
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #09B700;
  color: white;
}


.topnav a.active {
  background-color: black;
  color: white;
}

footer article {
	/* Footer Content */
	width: 46%;
	float: left;
	padding-left: 2%;
	padding-right: 2%;
	text-align: justify;
	font-family: "Darker Grotesque", sans-serif;
	font-style: normal;
	font-weight: 500;
	color: rgba(146,146,146,1.00);
}
footer article h3 {
	/* Footer Title */
	text-align: center;
	font-family: "Darker Grotesque", sans-serif;
	font-style: bold;
	font-weight: 400;
}
